BuildingEscape/Binaries/
BuildingEscape/Build/
BuildingEscape/DerivedDataCache/
BuildingEscape/Intermediate/
BuildingEscape/Saved/
BuildingEscape/BuildingEscape.VC.*
BuildingEscape/Content/StarterContent/Textures
BuildingEscape/Content/StarterContent/HDRI
BuildingEscape/.vs/

